/*#main_page_body{*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
/*    overflow-x: hidden;*/
}
#scond_page_body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-y: hidden;
}
#description_page_body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    max-width: inherit;
/*    background-color: bisque;*/
}
header{
    align-items: center;
    height: 10vh;
    display: flex;
    left: 5vw;
    position: fixed;
    width: 100vw;
    
/*    align-items: center;*/
/*    background-color: bisque;*/
/*    border-bottom: 1px solid gray;*/    
}
#home_logo{
/*    background-color: aquamarine;*/
/*    border-bottom: 1px solid gray;*/
    width: 170px;
}
header ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    flex-direction: row;
    width: inherit;
    padding-right: 5vw;
/*    margin-right: 10vw;*/
    
    
}
#menu-icon{
    display: none;
    width: 38px;
    height: 38px;
    background: url(image/nav_1.png) center;
    
}
a:hover#menu-icon{
    border-radius:4px 4px 0 0;
}
header ul li{
    font-size: 0.8rem;
    font-weight: 300;
    color: #000;
    text-decoration: none;
    position: relative;
    text-align: right;
    margin-right: 5vw;
}
.contants{
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin-top: 20px;
}
nav{
/*    background-color: aqua;*/
      overflow: hidden;
      position: fixed;
      width: 90vw;
      top: 15vh;
      margin-left: 5vw;
      border-bottom: 1px solid gray;
}
nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    font-size: 0.7rem;
    font-weight: 500;
    text-decoration: none;
/*    background-color: aqua;*/
}
footer{
    display: block;
    text-align: left;
/*    background-color: tomato;*/
    height: 5vh;
    width: auto;
    margin-left: 5%;
    bottom: 3%;
    position: fixed;
    font-size: 0.8rem;
    font-weight: 300;
}

#slider {
    position:relative;
/*    height: 53vh;*/
    padding-top: 26vh;
    display: flex;
    padding-left: 5vw;
    top: 0;
}
#slider_main {
    position:relative;
/*    height: 53vh;*/
    padding-top: 26vh;
    display: flex;
    padding-left: 5vw;
    top: 0;
}
.description{
    padding-top: 26vh;
    padding-left: 5vw;
}
#slider_shoerepair {
/*    height: 53vh;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5vw;
    top: 0;
}
a:link {text-decoration: none; color: black;}

.item{
    height: 45vh;
    padding-right: 0.5%;
    width: auto;
}
.item_secondpage{
    height: 57vh;
/*    padding-right: 0.5%;*/
    width: auto;
    padding-bottom: 2vh;
}
.shoerepair{
    margin-right: 3vw;
}
.aboutcontent{
    padding-top: 5vh;
    position: fixed;
    display: flex;
    flex-direction: column;    
}

#description_subtitle{
    font-size: 1.2rem;
    font-weight: 100;
/*    background-color: aquamarine;*/
    
}
#description_title{
    font-weight: 500;
    font-size: 3rem;
/*    background-color: aquamarine;*/
    margin-top: -1vh;
    
}
#description_text{
    margin-top: 0;    
    line-height: 1.8rem;
    font-size: 1.1rem;
    font-weight: 300;
    width: 32vw;
/*    background-color: aquamarine;*/
/*    opacity: 0.7;*/
}
#year{
    font-size: 1rem;
    font-weight: 300;
    padding: 1vh;
    border-bottom: 0.5px dotted gray;
}
.title{
    margin-top: 2%;
    font-size: 1.0rem;
    font-weight: 500;   
}
.subtitle{
/*    background-color: aqua;*/
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: -10px;    
}

#main_slider {
    
}
@keyframes slidy {
0% { left: 0%; }
30% { left: 0%; }
35% { left: -100%; }
62.5% { left: -100%; }
67.5% { left: -200%; }
95% { left: -200%; }
100% { left: -300%; }
}

body { margin: 0; } 

div#main_slider { 
    width: 59.7vw;
    height: auto;
    overflow: hidden;
    float: left;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

div#main_slider figure { 
  position: relative;
  width: 400%;
  margin: 0;
  animation: 24s slidy infinite; 
}
div#main_slider figure img { width: 25%; float: left;}

.wrapper{
    z-index: -1;
    position: relative;
    top: 26vh;
    max-width: 90vw;
    height: auto;
    margin-left: 5vw; 
}
.others{
    position: relative;
    right: 0;
    width: 29.5vw;
    height: auto;
    display: flex;
    margin-bottom: 1vh;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.the_others{
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.bottom{
    padding-top: 27vh;
    margin-left: 5vw;
    width: 90vw;
    min-height: 18vh;
    display: flex;
    justify-content: space-between;
    
}
.figure{ 
    width: 29.5vw;
    
}
.figure_1{
    position: absolute;
    right: 0;
}
#menu_2 {
    display: none;
}
  /*------------------MEDIA!!!!----------------------*/

@media only screen and (max-width: 768px) {
    
    #home_logo{
        position: absolute;
        top: 3vh;
    }
    .aboutcontent{
        position: inherit;
        width: 95%;
    }
    #description_text{
        width: 80vw;
    }
   
    .item_secondpage{
        width: 100%;
        height: auto;
    }
    #menu{
        display: none;
    }
    nav{
        position: absolute;
        top: 0;
        height: 12vh;
        border: 0px;
        z-index: 100
        
    }
    #menu-icon{
        position: absolute;
        top: 3vh;
        right: 10vw;
        display: inline-block;
    }
    nav ul, nav:active ul {
        display: none;
        z-index: 1000;
    }
    nav:hover{
        position: fixed;
        top: 0;
        height: 23vh;
        
    }
    nav:hover ul{
        margin-top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background: #ffffff; 
        border: 1px solid gray;
/*        border-radius: 2px 2px 2px 2px;*/
/*        width: 50vw;*/
    }
    nav ul li {
        padding-left: 5vw;
    }
    #menu_2{
    padding-bottom: 10vh;
    width: 100vw;
    list-style: none;
    display: flex;
    font-size: 0.8rem;
    font-weight: 300;
    justify-content: flex-end;
    padding-left: 0; 
    margin-left: 0;
    }
    #menu_2 li a{
        margin-right: 12vw;
    }
    #slider{
        position: absolute;
        flex-direction: column;
        align-items: center;
        width: 92.5vw;
        z-index: -1;
    }
    #scond_page_body{
        overflow-x: hidden;
    }

}





